/* Set color theme variables */
:root {
    --dark: #323033;
    --light: violet;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--dark);
}

a {
    color: var(--light);
}

/* Main flexbox for header */
header {
    display: flex;
    height: 13vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

/* Used for spacing flexbox elements in header */
header div {
    width: 50%;
    margin: auto 20px;
}

/* Flexbox for header links */
.header-links {
    display: flex;
    justify-content: end;
}

/* Used to space header links */
.header-links ul {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.header-links a {
    font-weight: bold;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 200%;
    color: var(--light);
}

h2, h3 {
    font-size: 120%;
    padding: 10px 0 20px 0;
    color: var(--light);
}

h3 {
    padding-top: 2%;
}

/* Flexbox for main tag */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Portfolio section */
.portfolio {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    min-height: 87vh;
}

.portfolio h3 {
    color: var(--dark);
}

.showcase {
    display: flex;
    flex-wrap: wrap;
}

.sample {
    flex: 1 1 22%;
    height: 75px;

    margin: 5px;
    background-color: white;
}

.sample:nth-child(1) {
    flex: 1 1 47%;
    height: 150px;
}

/* About Me section */
.about-me {
    background-color: var(--dark);
    min-height: 40vh;
    display: flex;
    padding: 0px 0px 0px 20px;
    color: white;
}

.about-me img {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 10px solid var(--light);
    background-color: white;
}

/* Contact section */
.contact {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    min-height: 40vh;
    padding: 0px 20px 40px 20px;
    color: var(--dark);
}

.contact form {
    text-align: center;
}

.contact input {
    width: 400px;
    height: 25px;
    border: 1px solid var(--dark);
}

.contact textarea {
    width: 400px;
    height: 200px;
    border: 1px solid var(--dark);
}

.contact h3 {
    color: var(--dark);
}

footer {
    display: flex;
    margin-top: auto;
    padding: 2%;
    justify-content: center;
    color: var(--light);
}

/* Media queries */
@media screen and (max-width: 992px) {
    .about-me img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .about-me img {
        width: 250px;
        height: 250px;
    }

    .sample {
    }
}


@media screen and (max-width: 576px) {
    .about-me img {
        width: 200px;
        height: 200px;
    }

    .sample {
    }
}