:root {
    --dark: #323033;
    --light: violet;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--dark);
}

header {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 200%;
    padding: 2% 2% 10px 2%;
    color: var(--light);
}

h2, h3 {
    font-size: 100%;
    padding: 0% 2% 20px 2%;
    color: var(--light);
}

h3 {
    padding-top: 2%;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 70vh;
}

.portfolio {
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 60vh;
}

.portfolio > * {
    flex: 1 1 0;
}

.sample {
    max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    margin: 5px;
    background-color: darkslateblue;
}

.about-me {
    background-color: var(--dark);
    min-height: 40vh;
}

.contact {
    background-color: var(--light);
    min-height: 40vh;
}

.contact h3 {
    color: var(--dark);
}

footer {
    display: flex;
    margin-top: auto;
    padding: 2%;
    justify-content: center;
    color: var(--light);
}