:root {
    --main-bg-color: #323033;
    --header-h1-color: violet;
    --footer-text-color: violet;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

header {
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 200%;
    padding: 2% 2% 10px 2%;
    color: var(--header-h1-color);
}

header h2 {
    font-size: 100%;
    padding: 0% 2% 20px 2%;
    color: var(--header-h1-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
}

.portfolio {
    background-color: var(--header-h1-color);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 60vh;
}

.portfolio > * {
    flex: 1 1 0;
}

.sample {
    margin: 5px;
    background-color: darkslateblue;
}

footer {
    display: flex;
    margin-top: auto;
    padding: 2%;
    justify-content: center;
    color: var(--footer-text-color);
}